.gallery {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;

  >div {
    display: flex;
    justify-content: center;
    max-width: 75vw;
  }

  .galleryImage {
    cursor: pointer;
    user-select: none;
    border: none;
  }
}