.line {
  display: flex;
  flex-direction: column;
  width: 25vw;
  align-items: center;
  margin: 0 10px;
  > img {
    margin: 10px 0;
    cursor: pointer;
    user-select: none;
  }
}

.gallery {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
}
