.header {
  top: 0;
  display: flex;
  align-items: center;
  height: 8vh;
  background-color: rgba(60, 7, 83, 0.5);
  position: sticky;
  z-index: 1000;
  .nav {
    width: 40%;
    display: flex;
    justify-content: right;
    p,
    a {
      margin: 0 10px;
      cursor: pointer;
    }
    a:nth-of-type(4) {
      margin-right: 5vw;
    }
  }
  > p {
    width: 60%;
  }
  .art {
    ul {
      display: none;
    }
  }
  .art:hover, .art:focus-within {
    ul {
      display: block;
      position: absolute;
      list-style: none;
    }
  }
}
