.skeleton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
    justify-items: center;
    margin-top: 10vh;

    .card {
        width: 25vw; // adjust as needed
        height: 25vh; // adjust as needed
        background: linear-gradient(-90deg, #808080 0%, #a9a9a9 50%, #808080 100%);
        background-size: 400% 400%;
        animation: pulse 1.2s ease-in-out infinite;
        border-radius: 10px; // adjust as needed
    }
}

@keyframes pulse {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: -135% 0%;
    }
}